@import "../../modules/_base.scss";
/*Callback modal window*/
.b-modal-callback{}
.b-modal-callback__label{
    left:0 !important;
}

.b-modal-callback__input{
    font-size:1.64rem !important;
}

@media only screen and (max-width: 600px){
    .b-modal-callback{
        width:96%;
        height:89% !important;
        max-height:100%;
    }
}
