@import "../../modules/_base.scss";
/* Desktop Menu */
.b-menu{
    display:none;

    @include media($tablet){
        display:block;
    }
}

.b-menu__item{
    i{
        font-size:1.4rem;
    }
    i.right{
        margin-left:5px;
        font-size:1.2rem;
    }

    & > a{
        color:#3a3a3a;
        font-size:16px;
        font-weight:700;
        @include transition(color .3s ease-in);

        &:hover,
        &:active{
            background:none;
            color:$border-color;
        }
    }

    &.active > a{
        background:#fff;
        color:$border-color;
    }
}


.b-menu__item--large{//эти элементы меню покажем только на широком экране
    display:none;

    @include media($large){
        display:block;
    }
}



//Суб-меню в 2 колонки с иконками
.b-submenu{
    @extend .g-clearfix;
}

#services{
    min-width:530px;
}

#services > .b-submenu__item{
    clear:none;
    float:left;
    width:50%;
    
    &:nth-child(2n+1){
        clear:left;
    }
}

.b-submenu__item--large{//когда элементы верхнего меню будут видимы - скроем их в подменю
    & > a{
        padding-left:55px !important;
    }
    @include media($large){
        display:none;
    }
}

.b-submenu{
    .b-submenu a{
        padding-left:55px;
        font-size:rem(15px);
    }


}

.b-submenu__icon{//иконки услуг в подменю 1-го уровня
    float:left;
    width:28px;
    height:22px;
    margin-right:10px;
    position:relative;

    &:after{
        font-family:'icomoon';
        font-size:rem(14px);
        @extend .vca;
        color:$primary;
    }
}

.b-submenu__icon--car{
    &:after{
        content:'\e911';
    }
}
.b-submenu__icon--swimming{
    &:after{
        content:'\e912';
    }
}
.b-submenu__icon--swimming{
    &:after{
        content:'\e912';
    }
}
.b-submenu__icon--house{
    &:after{
        content:'\e90a';
        font-size:rem(17px);
    }
}
.b-submenu__icon--hands{
    &:after{
        content:'\e909';
        font-size:rem(17px);
    }
}
//Двух-уровневое меню
/*.b-menu__item > .b-submenu{
    min-width:250px;
}
.b-submenu{
    max-height:none !important;
    .b-submenu{
        display:none;
        a{
            font-size:rem(15px);
        }
    }
}
.b-submenu__item.has-menu{
    position:relative;

    & > a{
        margin-right:40px;
    }
}

.b-submenu__btn{//кнопка открыть - скрыть подменю
    display:block;
    margin:0;
    padding:0;
    @include size(40px);
    line-height:40px;
    text-align:center;
    font-size:rem(24px);
    background:none;
    border:none;
    position:absolute;
    top:0; right:0;

    &:after{
        content:'\e915';
        font-family:'icomoon';
        font-size:rem(6px);
        @extend .vca;
        color:$primary-alt;
    }

    &:hover,
    &:active,
    &:focus{
        background:#bbb;
    }

    &.active{
        &:after{
            color:$primary;
        }
    }
}

.b-submenu__icon{//иконки услуг в подменю 1-го уровня
    float:left;
    width:28px;
    height:22px;
    margin-right:10px;
    position:relative;

    &:after{
        font-family:'icomoon';
        font-size:rem(14px);
        @extend .vca;
        color:$primary;
    }
}

.b-submenu__icon--car{
    &:after{
        content:'\e911';
    }
}
.b-submenu__icon--swimming{
    &:after{
        content:'\e912';
    }
}
.b-submenu__icon--swimming{
    &:after{
        content:'\e912';
    }
}
.b-submenu__icon--house{
    &:after{
        content:'\e90a';
        font-size:rem(17px);
    }
}
.b-submenu__icon--hands{
    &:after{
        content:'\e909';
        font-size:rem(17px);
    }
}*/




//кнопка callback - (с надрисью Заказать звонок - уже не используем!)
.b-menu__callback{
    height:38px;
    line-height:38px;
    padding:0 .6rem;
    margin:0 0 5px 0;
    font-size:17px;
    text-transform:none;
    background-color:$primary;

    @include media($large){
        margin-left:15px;
    }
}

//Добавим в меню номер телефона (переделаем кнопку коллбэк)
.b-menu__call-back{
    @include size(38px);
    line-height:39px;
    font-size:rem(20px);
    background:$primary;
}
.b-menu__call-link{
    color:$primary !important;

    &:hover,
    &:active{
        color:#3a3a3a !important;
    }
}


//правое меню
.b-menu--right{
    float:right;

    .b-menu__item{
        & > a{
            padding:0 10px;
            color:$border-color;
            font-weight:400;

            &:hover,
            &:active{
                color:#3a3a3a;
            }
        }

        //search link
        .icon-search{
            padding-top:2px;
        }
    }
}

//user link
.b-menu__user{
    @include transition-property(box-shadow, background);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-in);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.b-menu__userlink{
    &:hover,
    &:active{
        .b-menu__user{
            background:lighten($primary-alt, 15%);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
    }
}



.b-menu__user{
    display:inline-block;
    vertical-align:middle;
    @include size(38px);
    border-radius:50%;
    background:$primary-alt;
    text-align:center;
    color:#fff;
    @include transition(background .3s ease-in);

    i{
        height:38px !important;
        line-height:38px !important;
    }
}


/*Home page menu mod:*/
.b-menu__dropdown{
    position:relative;
 
    &:before{
        content:'';
        display:none;
        width:100%;
        height:38px;
        border-radius:4px;
        background:$primary;
        position:absolute;
        left:0; top:50%;
        margin-top:-19px;
        z-index:-1;
        @include transition-property(background);
        @include transition-timing-function(ease-in);
        @include transition-duration(.3s);
    }
}

.b-header--hero{
    .b-menu__callback,
    .b-menu__call-back,
    .b-menu__call-link{
        display:none;
    }
    @include media($tablet){
        .b-menu__item{
            & > a{
                color:$primary;
                &:hover,
                &:active{
                    color:$primary-alt;
                }
            }
        }

        .b-menu--left{
            .b-menu__item{
                & > a{
                    font-size:20px;
                }
            }
        }

        .b-menu--right{
            .b-menu__item{
                & > a{
                    color:#919090;

                    &:hover,
                    &:active{
                        color:$primary-alt;
                    }
                }
            }
        }

        .b-menu__dropdown{
            color:#fff !important;
            &:before{
                display:block;
            }

            &:hover,
            &:active{
                &:before{
                    background:$primary-alt;
                }
            }
        }
    }


    @include media($large){
        .b-menu__item--large{
            display:none;
        }

        .b-submenu__item--large{
            display:block;
        }
    }
}


