@import "../../modules/_base.scss";
/*Callback action block*/
$callback-color:#ffec92;
.b-callback{
    padding:40px 0;
    background:#4caf50;
    color:$callback-color;
}

.b-callback__title{
    display:block;
    line-height:1.1;
    margin:0 0 20px;
    font-family:$font-sans-alt;
    font-weight:800;
    color:#fff;
    font-size:140%;
    text-transform:uppercase;
    text-shadow:.3px .3px 1px rgba(#000, .4);
}

.b-callback__label{
    display:block;
    margin-bottom:5px;
    font-size:14px;
    font-weight:700;
    color:$callback-color;
}

input.b-callback__input{
    display:block;
    width:100%;
    height:48px;
    border:2px solid $callback-color !important;
    padding:6px 10px;
    margin:0 0 10px;
    border-radius:4px;
    box-sizing:border-box;
    color:$callback-color;
    font-size:19px;
    
    &:focus{
        outline:0;
        box-shadow:none !important;
        background:#67bb6a;
    }
}

.b-callback__btn{
    width:100%;
    height:48px;
    line-height:48px;
    background:$callback-color;
    color:$title-color;
    font-size:19px;
    text-transform:none;

    &:hover{
        background:darken($callback-color, 10%);
    }

    &:focus{
        background:darken($callback-color, 10%);
    }
}

.b-callback__agree{
    label{
        color:#fff;
        font-weight:700;
    }

    [type="checkbox"].filled-in:not(:checked)+label:after{
        border-color:#fff;
    }

    [type="checkbox"].filled-in:checked+label:after{
        border-color:$callback-color;
        background-color:$callback-color;
    }

    [type="checkbox"].filled-in:checked+label:before {
       border-right-color:#4caf50;
       border-bottom-color:#4caf50;
    }
}

.b-callback__time{//скрытый select - покажем скриптом когда снимут 
    padding-left:36px;
    position:relative;



    .input-field{
        margin-top:0;
    }
    .caret{
        color:$callback-color !important;
    }
    .select-dropdown{
        border-bottom-color:$callback-color !important;
    }
}
.b-callback__timeicon{
    position:absolute;
    left:0; top:12px;
}