@import "../../modules/_base.scss";
/*Choice table*/
.b-ch-table{

    .tooltipped{
        position:absolute;
        top:0;
        right:0;

        .material-icons{
            font-size:rem(20px);
        }
    }
}

.b-choice-table__company{
    margin:0;
    padding:0;

    font-size:(1300%/15);

    a{
        display:block;
        color:#6c6c6c;
        text-decoration:underline;

        &:hover,
        &:active{
            color:$primary;
        }
    }
}


.b-ch-table__logo{
    max-width:80px;
    height:auto;
    margin-bottom:10px;
}

.b-ch-table__choice{
    display:block;
    font-weight:600;
}

.b-ch-table__choice-1{
    color:$primary;
}
.b-ch-table__choice-2{
    color:$primary-alt1;
}

.b-ch-table__price{
    display:block;
    margin:10px 0;
    font-size:(2100%/15);
    font-weight:600;
}

.b-ch-table__price-1{
    color:$primary;
}
.b-ch-table__price-2{
    color:$primary-alt1;
}

.b-ch-table__btn{
    background:$primary-alt1;

    &:hover{
        background:$primary;
    }

    &:focus{
        background:$primary-alt1;
    }
}

//форма в сайдбаре, рядом с таблицей
.b-ch-table-form{
    padding:12px 1.5rem 15px 1.5rem;
    background:#f5f5f5;
    border:1px solid rgb(208, 208, 208);

    @include media($tablet){
        margin-left:-1.5rem;
    }
}

.b-ch-table-form__title{
    display:block;
    font-weight:600;
    color:$title-color;
    font-size:(2100%/15);
}