@import "../../modules/_base.scss";
/*Search Form*/
.b-search{
    position:fixed;
    top:-100px; left:-200px;
    width:100%;
    z-index:990;
    opacity:0;
    will-change:top;
    @include transition-property(transform, opacity);
    @include transition-timing-function(ease-out);
    @include transition-duration(.5s);


    &.active{
        top:56px;
        opacity:1;
        @include transform(translateX(200px));
    }

    @include media($small){

        &.active{
            top:64px;
        }
    }

    @include media($tablet){
        &.active{
            top:94px;
        }
    }
}

.b-search__form{
    height:70px;
    padding:0 20px;
    line-height:70px;
    background:#f9f9f9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position:relative;

    @include media($tablet){
        width:40%;
        float:right;
    }
}

input.b-search__input{
    height:48px;
    margin:0;
    padding:0 40px 0 10px;
    border:2px solid #ccc;
    border-radius:4px;
    background:#fff;
    box-sizing:border-box;

    &:hover,
    &:focus,
    &.hover{
        border-color:$primary-alt;
    }
}

.b-search__btn{
    display:inline-block;
    height:44px;
    width:44px;
    line-height:44px;
    padding:0;
    margin:0;
    border:none;
    background:none;
    outline:0;
    position:absolute;
    top:13px;
    right:22px;
    text-align:center;
    color:#ccc;
    font-size:24px;

    &:hover{
        color:$primary-alt;
    }

    &:focus{
        background:none;
        color:$primary-alt;
    }
}

@include media($tablet){
    .b-header--hero{
        .b-search__form{
            background:none;
            box-shadow:none;
        }
        input.b-search__input{
            background:none;
            color:#fff;

            &:focus{
                background:rgba(#000, .5);
            }
        }
    }
}



