@import "../modules/_base.scss";

@import "page/_breadcrumbs.scss";
//@import "page/_slider.scss";
//@import "page/_scroll-up.scss";


@import "page/_hero-slider.scss";//главный слайдер 
@import "page/_history.scss";//слайдер просмотренных страниц
@import "page/_propositions.scss";//специальные предложения


@import "page/_service-tabs.scss"; //вкладки с предложениями услуг
@import "page/_service-list.scss";//список услуг
@import "page/_info-blocks.scss";//
@import "page/_video-review.scss";//вкладки видео-отзывов
@import "page/_callback-block.scss";//форма обратной связи на страницах + скрытый селект в модальном окне
@import "page/_about-block.scss";//страница О нас
@import "page/_google-map.scss";
@import "page/_post-list.scss";//список статей


@import "page/_tabs.scss";//дефолтные вкладки (вместо корявых фреймворка)

@import "page/_choice-table.scss";//таблица с вариантами предложений страховых

@import "page/_company-preview.scss";//короткий блок О компании в начале страницы
@import "page/_clients-list.scss";//страница Наши клиенты



.b-page{
    padding:30px 0;

    hr {
        margin:10px 0;
        border-width: 0;
        border-top: 1px solid #e0e0e0;
    }
}

.b-page__section{
    padding:45px 0;
}

.b-page__section--alt{
    background:#f3f3f3;
}

.b-page__section--compact{
    padding:20px 0;

    .row{
        margin-bottom:0;
    }
}

.b-page__title,
.b-page__subtitle{
    display:block;
    margin-top:0;
    margin-bottom:35px;
    font-family:$font-sans-alt;
    font-weight:800;
    color:$title-color;
    line-height:1.1;
}

.b-page__title{
    font-size:200%;
}

.b-page__subtitle{
    font-size:(2100% / 15);
    text-transform:uppercase;

    i{
        display:inline-block;
        vertical-align:top;
    }
}

.b-page__subtitle--alt{
    margin-bottom:15px;
    font-family:$font-sans;
    text-transform:none;
    font-weight:700;
}

//для ссылки "Больше новостей, и т.д."
.b-more{
    color:#6c6c6c;
    font-size:18px;
    white-space:nowrap;
    @include transition(color .3s);

    &:hover{
        color:$primary;
        .b-more__icon{
            background:$primary;
        }
    }
}

.b-more__icon{
    display:inline-block;
    vertical-align:middle;
    @include size(26px);
    margin-left:5px;
    line-height:28px;
    text-align:center;
    background:#c9d2d5;
    border-radius:50%;
    color:#fff;
    font-size:14px;
    @include transition(background .3s);
}


//Текст-превью
.b-big-text{
    margin-top:0;
    font-size:(1800%/15);
    color:#6c6c6c;
}

//Список вариантов
.g-action-list{
    margin:0;
    li{
        display:inline-block;
        margin:0 50px 15px 0;
        font-size:(1800%/15);
        font-weight:600;

        &:last-child{
            margin-right:0;
        }
    }

    i{
        vertical-align:middle;
    }

    a{
        color:$primary;

        &:hover,
        &:active{
            text-decoration:underline;
        }
    }
}

.g-action-list__links{
    margin-top:-20px;
    margin-bottom:0;

    p{
        margin-top:0;
    }

    a{
        display:block;
        position:relative;
        padding-left:12px;

        &:before{
            content:'';
            @include triangle(6px, $primary-alt, down);
            border-top-width:8px;
            position:absolute;
            top:rem(8px); left:0;
        }

        &:hover,
        &:active{
            color:$primary;
            &:before{
                border-top-color:$primary;
            }
        }
    }

    @include media($tablet){
        p{
            margin-bottom:0;
        }
    }
}


