// Core imports
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "neat-grid-settings";
@import "../bower_components/neat/app/assets/stylesheets/neat";

// Default project variables
$project-font-size:15px; //in px
$project-line-height:22px; //in px

$grid-gutter: flex-gutter();
$border-radius:4px;

//colors
$text-color:#383838;
$title-color:#231f20;
$border-color:#a1a0a0;
$primary:#f55c4d;
$primary-alt:#119ec9;
$primary-alt1:#f08a00;

//fonts
$font-sans-alt:'Open Sans';
$font-sans:'Noto Sans';



//mixins
@mixin vertical-align(){
    position:relative;
    top:50%;
    @include transform(translateY(-50%));
}

@mixin vertical-centered-align(){
    position:absolute;
    top:50%; left:50%;
    @include transform(translate(-50%, -50%));
}

//centered image
@mixin img-centered(){
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    max-width:100%;
    max-height:100%;
    margin:auto;
}


//ie8 clearfix
//for new browsers, use bourbon clearfix() mixin
@mixin clear-fix(){
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}



@mixin shadow-hover(){
    @include transition-property(box-shadow, border-color);
    @include transition-duration(.3s);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &:hover{
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
}





